@model IEnumerable<Devoir3_Patrick_Dufour.Products>

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

@{
    ViewBag.Title = "Index";
}

<table>
    <tr>
        <th>
            <h4>Name</h4>
        </th>
        <th>
            <h4>Qty/Unit</h4>
        </th>
        <th>
            <h4>Price</h4>
        </th>
        <th>
            <h4>Stock</h4>
        </th>
        <th>
            <h4>OnOrder</h4>
        </th>
        <th>
            <h4>Level</h4>
        </th>
        <th>
            <h4>Dis</h4>
        </th>
        <th>
            <h4> Category</h4>
        </th>
        <th>
            <h4>Supplier</h4>
        </th>
        <th colspan="2">
            @using (Html.BeginForm(FormMethod.Post))
            {
                <span class="right">@Html.DropDownList("Category", new SelectList(ViewBag.ListofCategories), "All")<button class="search" type="submit"><i class="fa fa-search"></i></button></span>
            }
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityPerUnit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsInStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitsOnOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReorderLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discontinued)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categories.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Suppliers.CompanyName)
        </td>
        <td>
            @if (item.Picture == null)
            {
                <p>NO PICTURE</p>
            }
            else {
                <img src="~/Content/Images/@Html.DisplayFor(modelItem => item.Picture)" width="100" />
            }

        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ProductID })
        </td>
    </tr>
}
    <tr><td colspan="11">@Html.ActionLink("Create New", "Create")</td></tr>

</table>
